/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #ff0070;
  --accent-color-alpha: rgba(255, 0, 112, 0.4);
  --header-color: #DB00FF;
  --header-shadow-color: #ff0070;
  --title-color: #000028;
  --bg-title-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
}