/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #353430;
    --accent-color-alpha: rgba(50, 49, 45, 0.4);
    --header-color: #ffc2e6;
    --header-shadow-color: #ff0070;
    --title-color: #353430;
    --bg-title-color: #ff8dcb;
    --background-image: url(../images/cover-image-light.png);
  }
  
  .page.theme_light .header .header_elemet {
    display: none;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      --bg-color: #fff1f7;
      --text-color: #353430;
      --accent-color: #353430;
      --accent-color-alpha: rgba(50, 49, 45, 0.4);
      --header-color: #ffc2e6;
      --header-shadow-color: #ff0070;
      --title-color: #353430;
      --bg-title-color: #ff8dcb;
      --background-image: url(../images/cover-image-light.png);
    }
  
    .page.theme_auto .header .header_elemet {
      display: none;
    }
  }
